<table>
  <tr>
    <td><a href="#menu" class="box-shadow-menu">
      </a>&nbsp;&nbsp;&nbsp;<img id="yt" src="assets/logo.jpg">&nbsp;<b>YouTube</b></td>
    <td>
      <input type="text" placeholder="Search"size="70" >&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/search.png"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic"
        viewBox="0 0 16 16">
        <path
          d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
        <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z" />
      </svg>&nbsp;&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-camera-video-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
      </svg>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell"
        viewBox="0 0 16 16">
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
      </svg>&nbsp;<img src="assets/test.png" id="idt">
    </td>


  </tr>
</table>
<table>
  <tr>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <td>
    <table>
      <tr>
        <td><img src="assets/test.png" width="350px" height="250px"></td>
      </tr>
      <tr>
        <td>
          <table>
            <td><img src="assets/test.png" id="idt"></td>
            <td>How to test your solution in Competitive Programming, on
              Linux</td>
          </table>
        </td>
      </tr>
    </table>
  </td>
  <td>
    <table>
      <tr>
        <td><img src="assets/test.png" width="350px" height="250px"></td>
      </tr>
      <tr>
        <td>
          <table>
            <td><img src="assets/test.png" id="idt"></td>
            <td>How to test your solution in Competitive Programming, on
              Linux</td>
          </table>
        </td>
      </tr>
    </table>
  </td>
  <td>
    <table>
      <tr>
        <td><img src="assets/test.png" width="350px" height="250px"></td>
      </tr>
      <tr>
        <td>
          <table>
            <td><img src="assets/test.png" id="idt"></td>
            <td>How to test your solution in Competitive Programming, on
              Linux</td>
          </table>
        </td>
      </tr>
    </table>
  </td>
  <td>
    <table>
      <tr>
        <td><img src="assets/test.png" width="350px" height="250px"></td>
      </tr>
      <tr>
        <td>
          <table>
            <td><img src="assets/test.png" id="idt"></td>
            <td>How to test your solution in Competitive Programming, on
              Linux</td>
          </table>
        </td>
      </tr>
    </table>
  </td>
  <tr>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td><img src="assets/test.png" width="350px" height="250px"></td>
        </tr>
        <tr>
          <td>
            <table>
              <td><img src="assets/test.png" id="idt"></td>
              <td>How to test your solution in Competitive Programming, on
                Linux</td>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>