
 

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <mat-card class="view-details">
    <mat-card-header>
      <mat-card-title class="matchTitle">
        <b>Match Details </b><br><br>
        Match Begins on : {{viewDetails.date  | date:'yyyy-MM-dd'}}
      <br>
       Match Type : {{viewDetails.type}}
  <br>
 Toss Winner : {{viewDetails.toss_winner_team}}
<br>
 Winner Team : {{viewDetails.winner_team}}</mat-card-title>
        </mat-card-header>
    </mat-card>
  
  