#cen{
    text-align: center;
    
}
.body{
    width:auto;
    height:400px;
    /* background: url("../../../cor2.jpg") center; */
    background: url("https://media3.s-nbcnews.com/i/newscms/2020_13/3282101/200324-coronavirus-test-new-york-ew-151p_0c89bd0ee18182bf32c2dfc3344ee253.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
}

h6{
    font-size: 15px;
}

.fa:hover{
    color: red;
}

.card-body{
    background: white;
    background-color:rgba(245, 208, 214, 0.74);
    background: linear-gradient(180deg,rgb(50, 50, 212) 0%,rgb(193, 209, 209));
    border-radius: 2px;
}

.tooltipcontent{
    visibility: hidden;
    width: auto;
    background-color: black;
    opacity: 90%;
    color: white;
    border-radius: 4px;
    padding: 2px;
    position: absolute !important;
    z-index: 1 !important;
}

.fa:hover .tooltipcontent{
    visibility: visible;
    top: 100%;
    left: 50%;
    margin-left: auto;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

.noContent{
    color: white;
    padding: 4rem;
    text-align: center;
}